@page "/create-post"
@using System.Net.Http.Headers
@using BlazorWasmBlogClient.Models
@using BlazorWasmBlogClient.Services.IServices
@using Microsoft.AspNetCore.Authorization
@inject IPostService PostService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager
@attribute [Authorize]

<h1 class="text-center">Create Post</h1>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h4 class="card-title">New Post</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <EditForm Model="CreatePost" OnValidSubmit="() => HandleCreatePost()">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="container">
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>Title:</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="CreatePost.Title" class="form-control" placeholder="Insert Title"></InputText>
                            <ValidationMessage For="() => CreatePost.Title"></ValidationMessage>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-2">
                            <label>Description:</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="CreatePost.Description" class="form-control" placeholder="Insert Description"></InputText>
                            <ValidationMessage For="() => CreatePost.Description"></ValidationMessage>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-2">
                            <label>Tags:</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="CreatePost.Tags" class="form-control" placeholder="Insert tags separated by comma"></InputText>
                            <ValidationMessage For="() => CreatePost.Tags"></ValidationMessage>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-6">
                            <h4>Post Image:</h4>
                            <InputFile OnChange="@HandleUploadFile"></InputFile>
                            <br/>
                            @if (PostImage != null)
                            {
                                <div>
                                    <img src="@PostImage" style="width:300px"/>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-2">
                            <button type="submit" class="btn btn-success"><i class="bi bi-gear-fill"></i>&nbsp; Save Post</button>
                        </div>
                        <div class="col-6">
                            <NavLink href="posts" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i>&nbsp; Go back</NavLink>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Post CreatePost { get; set; } = new Post();
    public string PostImage { get; set; }
    public EventCallback<string> OnChange { get; set; }

    private async void HandleCreatePost()
    {
        CreatePost.ImagePath = PostImage;
        var resultPost = await PostService.CreatePost(CreatePost);

        await JsRuntime.ToastrSuccess("Post created!");

        NavManager.NavigateTo("/posts");
    }

    private async Task HandleUploadFile(InputFileChangeEventArgs e)
    {
        var fileImage = e.File;
        if (fileImage != null)
        {
            var resizedFile = await fileImage.RequestImageFileAsync("image/png", 1000, 700);
            await using var ms = resizedFile.OpenReadStream(resizedFile.Size);
            var content = new MultipartFormDataContent();
            content.Headers.ContentDisposition  = new ContentDispositionHeaderValue("form-data");
            content.Add(new StreamContent(ms, Convert.ToInt32(resizedFile.Size)),"image", fileImage.Name);
            PostImage = await PostService.UploadImage(content);
            await OnChange.InvokeAsync(PostImage);
        }
    }

}
