
<div class="row">
    <div class="col-6 offset-3">
        <h3 class="alert alert-success">@SecondChildComponentMessage</h3>
    </div>
</div>
@code {
    [Parameter]
    public string SecondChildComponentMessage { get; set; }
}
