@page "/register"

<EditForm Model="_userRegister" OnValidSubmit="RegisterUser" class="pt-4">
    <DataAnnotationsValidator />
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-2">
                            <strong>Register</strong>
                        </h3>

                        @if (ShowErrors)
                        {
                            <div>
                                @foreach (var error in Errors)
                                {
                                    <p class="text-danger text-center">@error</p>
                                }
                            </div>
                        }

                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            <InputText @bind-Value="_userRegister.Name" class="form-control" placeholder="Name..." />
                            <ValidationMessage For="(()=>_userRegister.Name)" />

                        </div>
                        <div class="py-2">
                            <InputText @bind-Value="_userRegister.Email" class="form-control" placeholder="Email..." />
                            <ValidationMessage For="(()=>_userRegister.Email)" />

                        </div>
                        <div class="py-2 input-group">
                            <InputText @bind-Value="_userRegister.Username" class="form-control" placeholder="Username..." />
                            <ValidationMessage For="(()=>_userRegister.Username)" />

                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <InputText @bind-Value="_userRegister.Password" type="password" id="password" placeholder="Password..." class="form-control" />
                                <ValidationMessage For="()=>_userRegister.Password" />
                            </div>

                        </div>
                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            @if (IsProcessing)
                            {
                                <button type="submit" class="btn btn-success btn-block disabled"><i class="fas fa-sign-in-alt"></i> Please wait...</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Register</button>
                            }
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</EditForm>