@inherits LayoutComponentBase

<PageTitle>BlazorBasicsServer</PageTitle>

<div class="page">
    <div class="main">
        <div class="content bg-info">
            @Body
        </div>
    </div>
</div>