@page "/"

@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<h1 class="text-center">Last Posts</h1>
@* <div class="row mt-4">
    <div class="col-4">
        <button class="btn btn-success" @onclick="DemoSuccess">Demo Toastr Success</button>
        <button class="btn btn-danger" @onclick="DemoError">Demo Toastr Error</button>
    </div>
</div> *@

@code
{
    // private async Task DemoSuccess()
    // {
    //     await JsRuntime.ToastrSuccess("Task completed!");
    // }
    // private async Task DemoError()
    // {
    //     await JsRuntime.ToastrError("Error, task uncompleted!");
    // }
}
