@layout CustomizedCounterLayout
@page "/counter"
@page "/counter/{initialValue:int}"

<PageTitle>Counter</PageTitle>

<h1 @onmouseover="IncrementCount">Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    public int InitialValue { get; set; }
    private int _currentCount = 0;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _currentCount = InitialValue;
    }
    private void IncrementCount()
    {
        _currentCount++;
    }
}
