@page "/"

@using BlazorBasicsServer.Data
@inject IDataDemo Db

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row">
    <div class="col-md-12">
        <img src="images/testimage.png" alt="Error occurred"/>
    </div>
</div>
<SurveyPrompt Title="How is Blazor working for you?" />

<p>Random number: @Db.GetAge()</p>
