@page "/parent-comp"
<h2 class="text-center">Working with Child/Parent and RenderFragment</h2>

<ChildComp Message="First message from Parent Component">
    <ChildContent>RenderFragment sent from Parent</ChildContent>
    <SecondChildContent>Second RenderFragment sent from Parent</SecondChildContent>
</ChildComp>

<ChildComp Message="First message from Parent Component">

</ChildComp>

@code {

}
