@page "/demos/components"

<h3>Components</h3>

@* <Counter></Counter>

<Counter/> *@

@* @for (var i = 0; i < 4; i++)
{
    <Counter />
}

<FetchData/> *@


<div class="row">
    <div class="col-6 bg-secondary">
        <Counter InitialValue="100" PageHeader="Special Counter" />
    </div>
    <div class="col-6 bg-success">
        <Counter InitialValue="80" PageHeader="Special Counter 2" />
    </div>
</div>
