@page "/"
@using BlazorServerProperties.Models.DTO
@using BlazorServerProperties.Repository.IRepository
@inject IPropertyRepository PropRepo

<PageTitle>Home</PageTitle>

<h1 class="text-center">LAST PROPERTIES</h1>

<div class="row">
    @foreach (var prop in PropertiesDto)
    {
        if(prop.Active){
            <div class="col-3 mt-3">
                <div class="card">
                    <div class="card-header">
                        <h3>@prop.Name</h3>
                    </div>
                    <div class="card-body">
                        @if (prop.Images.Any())
                        {
                            @foreach (var img in prop.Images.Take(1))
                            {
                                <img src="@img.PropertyImageUrl" class="img-fluid" alt="Image not found"/>
                            }
                        }
                        else
                        {
                            <img src="no-image.jpg" class="img-fluid" alt="" />
                        }
                    </div>
                    <div class="card-footer">
                        <NavLink href="@($"/property-details/{prop.Id}")">More info</NavLink>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code
{
    private IEnumerable<PropertyDTO> PropertiesDto { get; set; } = new List<PropertyDTO>();

    protected override async Task OnInitializedAsync()
    {
        PropertiesDto = await PropRepo.GetAllProperty();
    }
}
