@page "/books"

<h3 class="bg-info">Book 1</h3>
<p>Id: @_book.Id</p>
<p>Title: @_book.Title</p>
<p>Active: @_book.Active</p>
<p>Pages: @_book.Pages</p>

@code {
    //One-way data binding

    readonly Book _book = new Book()
    {
        Id = 1,
        Title = "First Book",
        Active = true,
        Pages = 210
    };

}
