<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="/">Blog/Posts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                    <span class="p-2"></span> Home
                </NavLink>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-link text-white" href="posts">
                            <span class="p-2"></span> Posts
                        </NavLink>
                    </Authorized>
                </AuthorizeView>
                

            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item p-0">
                            <NavLink class="nav-link text-white">
                                <span class="p-2"></span> Welcome,
                            </NavLink>
                        </li>
                        <li class="nav-item p-0">
                            <NavLink class="nav-link text-white" href="logout">
                                <span class="p-2"></span> Log Out
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link text-white" href="register">
                            <span class="p-2"></span> Register
                        </NavLink>
                        <NavLink class="nav-link text-white" href="login">
                            <span class="p-2"></span> Login
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
               

            </ul>
        </div>
    </div>
</nav>


@code {

}
