@page "/form"

<h3>Form</h3>

<p>Name: @_product.Name</p>
<p>Description: @_product.Description</p>

<EditForm Model="_product" OnValidSubmit="OnSubmitManager">
    <InputText id="name" @bind-Value="_product.Name"></InputText>
    <InputText id="description" @bind-Value="_product.Description"></InputText>
    <button class="btn btn-success" type="submit">Send</button>
</EditForm>

<hr/>
<h4>@_result</h4>

@code {
    private Product _product = new Product();
    private string _result = "";

    private void OnSubmitManager()
    {
        _result = $"{_product.Name} {_product.Description}";
    }
}
